In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [10]:
df_pyspark=spark.read.option('header','true').csv('test.csv')

In [11]:
df_pyspark.show()

+------+---+----------+
|  Name|age|Experience|
+------+---+----------+
| Ankit| 29|         1|
|Akshat| 28|         2|
| Arpit| 27|         3|
+------+---+----------+

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [13]:
df_pyspark=spark.read.option('header','true').csv('test.csv',inferSchema=True)

In [14]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [16]:
df_pyspark=spark.read.csv('test.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|age|Experience|
+------+---+----------+
| Ankit| 29|         1|
|Akshat| 28|         2|
| Arpit| 27|         3|
+------+---+----------+

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [18]:
df_pyspark.columns

['Name', 'age', 'Experience']

In [19]:
df_pyspark.head(2)

[Row(Name='Ankit', age=29, Experience=1),
 Row(Name='Akshat', age=28, Experience=2)]

In [20]:
Name=df_pyspark.select('Name')

In [21]:
Name.show()

+------+
|  Name|
+------+
| Ankit|
|Akshat|
| Arpit|
+------+

In [22]:
Name_Exp=df_pyspark.select(['Name','Experience'])
Name_Exp.show()

+------+----------+
|  Name|Experience|
+------+----------+
| Ankit|         1|
|Akshat|         2|
| Arpit|         3|
+------+----------+

In [25]:
df_pyspark.dtypes[1]

('age', 'int')

In [26]:
df_pyspark.describe().show()

+-------+------+----+----------+
|summary|  Name| age|Experience|
+-------+------+----+----------+
|  count|     3|   3|         3|
|   mean|  null|28.0|       2.0|
| stddev|  null| 1.0|       1.0|
|    min|Akshat|  27|         1|
|    max| Arpit|  29|         3|
+-------+------+----+----------+

In [36]:
from pyspark.sql.functions import col, lit
df_pyspark=df_pyspark.withColumn('Location',lit('Kanpur'))

In [37]:
df_pyspark.show()

+------+---+----------+--------+
|  Name|age|Experience|Location|
+------+---+----------+--------+
| Ankit| 29|         1|  Kanpur|
|Akshat| 28|         2|  Kanpur|
| Arpit| 27|         3|  Kanpur|
+------+---+----------+--------+

In [40]:
df_pyspark=df_pyspark.drop('Experience')

In [41]:
df_pyspark.show()

+------+---+--------+
|  Name|age|Location|
+------+---+--------+
| Ankit| 29|  Kanpur|
|Akshat| 28|  Kanpur|
| Arpit| 27|  Kanpur|
+------+---+--------+

In [43]:
df_pyspark=df_pyspark.withColumnRenamed('Name','New Name')

In [44]:
df_pyspark.show()

+--------+---+--------+
|New Name|age|Location|
+--------+---+--------+
|   Ankit| 29|  Kanpur|
|  Akshat| 28|  Kanpur|
|   Arpit| 27|  Kanpur|
+--------+---+--------+